@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--Yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.container{
    background-color: var(--Black);
    border-radius: 20px;
    position: relative;
}


.card{
    background-color: var(--White);
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    border: 3px solid var(--Black);
    margin: -10px 10px 10px -10px;
}

.textSection .highlight{
    background-color: var(--Yellow);
    font-size: 1rem;
    font-weight: 800;
    border-radius: 10px;
    padding: 5px;
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root{
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
    --Yellow: hsl(47, 88%, 63%);
}